{% extends 'SonataAdminBundle::layout.html.twig' %}
{%block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/minsalsiaps/css/MntPacienteAdmin/list.css') }}" type="text/css" media="all" />  
{%endblock%}

{%block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/minsalsiaps/js/datepicker/jquery.ui.datepicker-es.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/minsalsiaps/js/maskedinput/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/minsalsiaps/js/MntPacienteAdmin/MntPaciente_list.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/minsalsiaps/js/funciones_generales.js') }}" type="text/javascript"></script>
{%endblock%}
{% block sonata_admin_content -%}
    <h4><img class="icono" src={{ asset('bundles/minsalsiaps/imagenes/buscar-paciente.png') }} />Buscar Registro de Identificación de  Pacientes</h4>
    <br/>
    <form id="buscarForm" method="post" >
        <table class="table table-bordered ">
            <tbody>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>NEC</strong></td>
                    <td><input id="nec" name="nec" type="text" class="nombres form-control"  maxlength="10" /></td>
                    <td class="sonata-ba-list-field-header "><strong>Primer Apellido:*</strong></td>
                    <td><input id="primer_apellido" name="primer_apellido" class="nombres form-control" type="text"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Segundo Apellido:</td>
                    <td><input id="segundo_apellido" name="segundo_apellido" class="nombres form-control" type="text"  maxlength="25"/></td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>Primer Nombre: *</strong></td>
                    <td><input id="primer_nombre" name="primer_nombre" type="text" class="nombres form-control"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Segundo Nombre:</strong></td>
                    <td><input id="segundo_nombre" name="segundo_nombre" type="text" class="nombres form-control"  maxlength="25"/></td>
                    <td class="sonata-ba-list-field-header "><strong>Tercer Nombre:</strong></td>
                    <td><input id="tercer_nombre" name="tercer_nombre" type="text" class="nombres form-control"  maxlength="25"/></td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>Fecha Nacimiento:</strong></td>
                    <td><input id="fecha_nacimiento" name="fecha_nacimiento" type="text" class="fecha form-control" /></td>
                    <td class="sonata-ba-list-field-header"><strong>Nombre de la Madre:</strong></td>
                    <td colspan="3"><input id="nombre_madre" name="nombre_madre" class="nombresLargos form-control" type="text" maxlength="80" /></td>
                </tr>
                <tr>
                    <td class="sonata-ba-list-field-header "><strong>DUI: </strong></td>
                    <td><input id="dui" name="dui" type="text" class="nombres form-control" /></td>
                    <td class="sonata-ba-list-field-header "><strong>Conocido por:</strong></td>
                    <td colspan="3"><input id="conocido_por" name="conocido_por" type="text"  class="nombresLargos form-control"  maxlength="20" /></td>
                </tr>
                <tr>
                    <td colspan="6" class="no-bottom-border">
                        <div class="pull-right">
                            <a id="capturar" class="btn btn-info" href="{{ admin.generateUrl('create') }}">
                                <span class="glyphicon glyphicon-plus"></span>
                                Capturar Datos
                            </a>
                            {% if action is not sameas('buscaremergencia') %}
                                <input id="procedencia" name="procedencia" value="c" type="hidden"/>
                            {% else %}                                
                                <input id="procedencia" name="procedencia" value="e" type="hidden"/>
                            {% endif %}
                            <a id="buscar" class="btn btn-primary" href="">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar
                            </a>

                            <a id="buscarGlobal" class="btn btn-primary" href="">
                                <span class="glyphicon glyphicon-search"></span>
                                Buscar Global
                            </a>
                            <a id="limpiar" class="btn btn-primary" href="">
                                <span class="glyphicon glyphicon-trash"></span>
                                Limpiar
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div id="resultadoBusqueda"></div>
    <br><br>
{% endblock -%}

