{% extends 'MinsalSiapsBundle::standard_layout.html.twig' %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{ asset('bundles/minsalsiaps/css/MntPacienteAdmin/view.css') }}" type="text/css" media="all" />  
{%endblock%}
{%block javascripts %}
    {{parent()}}
<script src="{{ asset('bundles/minsalsiaps/js/MntPacienteAdmin/view.js') }}" type="text/javascript"></script>
{%endblock%}
{% block sonata_admin_content -%}
    {% include 'MinsalSiapsBundle:MntPacienteAdmin:identificacion_paciente.html.twig' %}
<form id="envio_paciente" method="POST">
    <input type="hidden" id="paciente" name="paciente" value="{{datos.id}}">
</form>
<div class="well form-actions" width="80%">
    <a class="btn btn-primary" href="" id="imprimir_hoja" ><i class="icon-print"></i>Identificación Paciente</a>
    <a class="btn" href="" id="imprimir_hoja" ><i class="icon-print"></i>Hoja de Consulta</a>
    <a class="btn" href="{{ admin.generateUrl('list') }}"><i class="icon-search"></i>Buscar otro Paciente</a>
    <a class="btn" href="{{ admin.generateUrl('edit',{'id':datos.getId}) }}" ><i class="icon-edit"></i>Editar Datos</a>
    <a class="btn" href="{{ path('admin_minsal_seguimiento_secingreso_create',{'id_paciente':datos.getId}) }}" ><i class="icon-briefcase"></i>Ingresar Paciente</a>
    
</div>
{%endblock%}
