{% extends 'FOSUserBundle::layout.html.twig' %}
{%block javascripts %}
    {{parent()}}
<script type="text/javascript">
$(document).ready(function() {
    /*DIALOGOS DE VALIDACION*/
    $('.mensaje').dialog({
        autoOpen: false,
        width: 300
    });
    $("#guardar").click(function() {
        if ($("#fos_user_change_password_form_new_first").val() != $("#fos_user_change_password_form_new_second").val()) {
            $('#mensaje').dialog('open');
            $("#fos_user_change_password_form_new_first").val('');
            $("#fos_user_change_password_form_new_second").val('');
            $("#fos_user_change_password_form_new_first").focus();
            return false;
            
        }

    });
    $('i').popover('show');
});

    </script>
{%endblock%}
{% block fos_user_content %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
        <div>
            <input id="guardar" type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            <a class="btn sonata-action-element" href="{{ path('_inicio') }}">
                <i class="icon-home"></i>Regresar
            </a>
        </div>
    </form>
<div id="mensaje" class="mensaje" title="Contraseña no Coincide">
    <center><p>Los campos de la nueva contraseña no coinciden. </p>
    <p><strong>Debe volver a digitarla</strong></p>
    </center>
</div>
{% endblock fos_user_content %}
