{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#digitalSignature').on('change', function() {
                var file = this.files[0];
                var name = file.name;
                var size = file.size;
                var type = file.type;

                if(type !== 'application/x-pkcs12') {
                    $(this).val('');
                    $('#fileInfo').val('');
                    if($('div#dialog-message').length == 0) {
                        $('body').append('<div id="dialog-message"></div>');
                    } else {
                        $('#dialog-message').empty();
                    }

                    $("#dialog-message").append('<p><i class="icon-warning-sign" style="margin-right:7px;"></i>\
                                         El archivo seleccionado no es un archivo de tipo <b>Firma digital</b> cuya extensi&oacute;n debe ser <b>.p12</b>,\
                                         <br />Por favor seleccione un nuevo archivo.</p>');

                    $("#dialog-message").dialog({
                        dialogClass: "dialog-warning",
                        modal: true,
                        title: 'Tipo de archivo incorrecto!!!',
                        buttons: {
                            Cerrar: function() {
                                    $( this ).dialog( "close" );
                            }
                        }
                    });
                } else {
                    $('#fileInfo').val($(this).val().replace("C:\\fakepath\\", ""));
                }
            });

            {% if module is defined %}
                var url = window.location;
                //truco para añadir a la url el modulo seleccionado en la primera pagina de login
                if(window.location.href.indexOf('_moduleSelection') == -1) {
                    window.history.replaceState("object or string", "Title", "?{{ module }}");
                }
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    <div class="connection">
        <form action="{{ path("sonata_user_admin_security_check") }}" method="post" enctype="multipart/form-data">

            {% if error %}
                <div class="alert alert-error">{{ error|trans({}, 'SonataUserBundle')|raw }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="_moduleSelection" value="{{ module|slice(-1,1) }}" />
            <div class="control-group">
                {% if module|slice(-1,1) != '3' and module|slice(-1,1) != '4' and module|slice(-1,1) != '6' %}
                    <label for="username" style="text-align:left;">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="controls">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="big sonata-medium"/>
                    </div>
                {% else %}
                    <label for="digtalSignature" style="text-align:left;">Firma digital</label>
                    <div class="controls" style="text-align:left;">
                        <div class="custom_file_upload">
                            <input type="text" id="fileInfo" class="file_info" placeholder="Seleccionar firma digital" name="_username" readonly />
                            <div class="file_upload">
                                <input type="file" id="digitalSignature" name="_digitalSignature" />
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="control-group">
                <label for="password" style="text-align:left;">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                <div class="controls">
                    <input type="password" id="password" name="_password" class="big sonata-medium" />
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
{% endblock content %}

