{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}    
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/minsalsiaps/js/MntAmbienteAreaEstablecimiento/edit.js') }}" type="text/javascript"></script>
{% endblock %}
{% block form %}
    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url)%}
<div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
    </div>
    {% else %}
    <form class="form-horizontal"
          action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
          method="POST"
              {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
          >
            {% if form.vars.errors|length > 0 %}
        <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
            </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
            <div class="tabbable">
                <ul class="nav nav-tabs">
                        {% for name, form_group in admin.formgroups %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="icon-exclamation-sign has-errors hide"></i>
                                    {{ admin.trans(name, {}, form_group.translation_domain) }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
            {% endblock %}

                    <div class="tab-content">
                    {% for name, form_group in admin.formgroups %}
                            <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
                                <fieldset>
                                    <div class="sonata-ba-collapsed-fields">
                                    {% if form_group.description != false %}
                                            <p>{{ form_group.description|raw }}</p>
                                    {% endif %}
                                            <!-- ESTE AGREGA LAS MODALIDADES QUE POSEEN HOSPITALIZACIÓN -->
                                            <div id="sonata-ba-field-container-areasModadlidad" class="control-group">
                                                <label class=" control-label"> Modalidades de la Hospitalización </label>
                                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                                    <select id="areas-modalidad" class="span5">
                                                        <option value="0">Seleccione --</option>
                                                    </select>
                                                </div>
                                            </div>
                                            {{form_row(form[form_group.fields.idAtencion])}}
                                            <div id="sonata-ba-field-container-porSexo" class="control-group">
                                                <label class=" control-label">Dividir ambientes por sexo</label>
                                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                                    <input type="checkbox" name="por_sexo" id="por_sexo">
                                                </div>
                                            </div>
                                            <div id="sonata-ba-field-container-numeroAmbientes" class="control-group">
                                                <label class=" control-label">Número de ambientes</label>
                                                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                                    <input type="text" value="" class="span5" name="numero_ambientes" id="numero_ambientes">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                    {% endfor %}
                            </div>

            {% block sonata_post_fieldsets %}
                        </div>
            {% endblock %}



            {% block formactions %}
                        <div class="well form-actions">
                    {% if app.request.isxmlhttprequest %}
                         {% if admin.id(object) %}
                                <input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
                        {% else %}
                                <input type="submit" class="btn" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                    <i class="icon-eye-open"></i>
                                {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                </button>
                        {% endif %}
                        {% if admin.id(object) is not null %}
                                <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>

                            {% if admin.hasroute('list') %}
                                <input type="submit" class="btn" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
                            {% endif %}


                        {% else %}
                                <input class="btn btn-primary" type="button" name="btn_generar" value="Generar"/>
                        {% endif %}
                    {% endif %}
                            </div>
            {% endblock formactions %}
                            <fieldset id="resultados" style="width: 700px; display: block; vertical-align: top; margin-left: 89px;">

                            </fieldset>    
                        </form>
    {% endif%}

{% endblock %}
